// // .wrapper {
// //     position: relative;
// //     margin: 40px auto;
// //     background: white;
// //   }

// //   .wrapper,
// //   .wrapper * {
// //     -moz-box-sizing: border-box;
// //     -webkit-box-sizing: border-box;
// //     box-sizing: border-box;
// //   }

// //   .wrapper {
// //     width: 250px;
// //     height: 250px;
// //   }

// //   .wrapper .pie {
// //     width: 50%;
// //     height: 100%;
// //     transform-origin: 100% 50%;
// //     position: absolute;
// //     background: #08C;
// //     border: 5px solid rgba(0, 0, 0, 0.5);
// //   }

// //   .wrapper .spinner {
// //     border-radius: 100% 0 0 100% / 50% 0 0 50%;
// //     z-index: 200;
// //     border-right: none;
// //     animation: rota 10s linear infinite;
// //   }

// //   .wrapper:hover .spinner,
// //   .wrapper:hover .filler,
// //   .wrapper:hover .mask {
// //     animation-play-state: running;
// //   }

// //   .wrapper .filler {
// //     border-radius: 0 100% 100% 0 / 0 50% 50% 0;
// //     left: 50%;
// //     opacity: 0;
// //     z-index: 100;
// //     animation: opa 10s steps(1, end) infinite reverse;
// //     border-left: none;
// //   }

// //   .wrapper .mask {
// //     width: 50%;
// //     height: 100%;
// //     position: absolute;
// //     background: inherit;
// //     opacity: 1;
// //     z-index: 300;
// //     animation: opa 10s steps(1, end) infinite;
// //   }

// //   @keyframes rota {
// //     0% {
// //       transform: rotate(0deg);
// //     }

// //     100% {
// //       transform: rotate(360deg);
// //     }
// //   }

// //   @keyframes opa {
// //     0% {
// //       opacity: 1;
// //     }

// //     50%,
// //     100% {
// //       opacity: 0;
// //     }
// //   }

// h1{
//     letter-spacing: 0.035em
// }
// .stopwatch{
//     min-height: 50vh;
// }
// .result{
//     height: 50vh;
//     overflow-y: scroll;
// }
// .circle-button{
//     border-radius: 50%;
//     height: 75px;
//     width: 75px;
//     background-color:white;
//     border: 1px solid white;
//     box-shadow: inset 0 0 0 3px #00b8a4;
//     color:black;
// }
// .circle-button-red{
//     box-shadow: inset 0 0 0 3px #FF655B;
// }
// .circle-button-bg{
//     height: 125px;
//     width: 125px;
// }
// .circle-button-md{
//     height: 105px;
//     width: 105px;
// }
// .bg-none{
//     background:none;
//     color:white;
// }
// .color-white{
//     color:white;
// }
// .bg-green{
//     background-color: #00b8a4;
// }
// .bg-pink{
//     background-color: #FF655B;
// }
// .bg-white{
//     background-color:white;
// }
// .bg-whitesmoke{
//     background-color:whitesmoke;
// }
// .text-light{
//     color: #675d5d;
// }
// .text-lighter{
//     color: #c2afaf;
// }
// .border-bottom{
//     border-bottom: 1px solid #7CCBE9;
// }
// .border-bottom-light{
//   border-bottom: 1px solid #D3D3D3 !important;
// }