<ion-header>
  <ion-toolbar>
    <ion-title>
      HYE TRAILETIC ATHLETE!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
  <ion-card href="tabs/tab7" class="bluetooth"> 
    <ion-button expand="block">Connect to Arm Band</ion-button>
  </ion-card>

  <ion-card href="tabs/tab8" class="record"> 
    <ion-button expand="block">View Record</ion-button>
  </ion-card>

  <ion-card href="tabs/tab1" class="logout"> 
    <ion-button expand="block">Log Out</ion-button>
  </ion-card>

  <!-- <div [(ngModel)]="timer" mbsc-timer [mbsc-options]="timerSettings"></div>
<table id="laps"></table>

  <p id="demo"></p>

  <div class="wrapper">
    <div class="pie spinner"></div>
    <div class="pie filler"></div>
    <div class="mask"></div>
  </div> -->

 <!-- <div class="stopwatch pt-3">
      <h1 text-center class="color-white font-lg">
        {{time}}
      </h1>
    <ion-grid>
      <ion-row text-center class="mt-5">
        <ion-col class="col-12" *ngIf="!running && time == blankTime">
          <button class="circle-button circle-button-bg font-md" ion-button (tap)="start()">{{ 'start' | translate }}</button>
        </ion-col>
        <ion-col class="col-12" *ngIf="running">
          <button class="circle-button circle-button-bg circle-button-red font-md" ion-button (tap)="stop()">{{ 'stop' | translate }}</button>
        </ion-col>
      </ion-row>
    </ion-grid>
</div>-->

</ion-content>
